.pagination{
    margin-bottom:8%;

}
@media only screen and (max-width: 768px) {
    #searchModel{
        width: 70%;
    }
    .pagination{
        margin-bottom:40%;

    }
    #logoImg{
        width: 35px;
        height: 35px;
    }
    #alignMid{
        font-size: 10px;
    }
    .button{
        width: 20px;
    }
    .buttonReset{
        width: 30px;
    }
    .tytulMid{
        font-size: 10px;
    }
    .card-body{
        width: 220px;
    }
    #artystaId{
        font-size: 12px;
        float: right;
    }
    #alignMidTr{
        display: flex;
    }
}
.pageNumber{
    padding: 10px;
    color:black;
}
.pageNumber:hover{
    color:green;
}
.active{
    color:white;
}
.buttonReset{

    font-size: 50px;
    margin-right: 20%;
}
.buttonReset:hover{
    color: white;
}