.xd {
    background-color: rgb(221, 127, 211);
    width: 100vw;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-comments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px; /* Dostosuj wartość, aby uzyskać odpowiedni odstęp */
    height: calc(100% - 20vh); /* Dostosuj wartość, aby uzyskać odpowiedni odstęp */
}
.wrapper {
    background-color: rgb(221, 127, 211);
    width: 100vw;
    height: 100%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    position: relative;
    padding-bottom: 50px;
}

.imgStyle {
    max-width: 100%;
    margin-top: 10vh;
    text-align: center;
}

.details {
    text-align: center;
}

.content {
    position: relative;
    top: 7%;
}

h1 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

.comments {
    text-align: center;
    margin-top: 230px;
    width: 80%;
    bottom: -2%;

}

h2 {
    font-size: 20px;
    margin: 0;
}

.review-form {
    margin-top: 50px;
    width: 80%;
}
.review-body {
    display: flex;
    align-items: flex-start;

    border:2px solid rgb(71,44,68);
    background-color: rgb(221, 127, 211);
    width: 25vw;
    margin-left: 10%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;

}
.review-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.review-user {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.review-body img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.review-username {
    margin: 0;
    text-align: left;
    float: left;
    font-weight: bold;
}

.review-text {
    margin: 0;
    text-align: left;
}
.review-likes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.review-likes i {
    font-size: 24px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.like-counter {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.review-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.like-button, .dislike-button {
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.like-button:hover{
    background-color: #1db954;
}
.dislike-button:hover {
    background-color: red;
}