.message-left {
    background-color: lightblue;
    align-self: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.message-right {
    background-color: lightgreen;
    align-self: flex-end;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.comment-form-button-reply {
    font-size: 13px;
    padding: 8px 16px;
    background: rgb(59, 130, 246);
    border-radius: 8px;
    color: white;
}
.comment-form-button-reply:hover {
    background: rgb(37, 99, 235);
}
@media only screen and (max-width: 768px) {
    .message-right{
        width: 80%;
        margin-left: 75px;
    }
    .message-left{
        width: 80%;
        margin-left: 75px;

    }
    .button-inbox{
        margin-left: 75px;
    }
    #textarea-inbox-down{
        margin-left: 73px;
        width: 83%;
    }
    #button-inbox-down{
        margin-left: 73px;
    }
}