#form2Example18{
    height: 38%;
    width: 100%;
}
.vh-100{
    margin-bottom: -50%;
}
#submit-register{
    background-color: #ea5cf7;
}
#submit-register:hover{
    background-color: purple;
    scale:1.01;
}