@import url('~bootstrap/dist/css/bootstrap.min.css');
.fullContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(221,127,211);
    position: relative;

    overflow: hidden;
}
.card-body{
    position: relative;

    height: 400px;
}
.xd{
    background-color: rgb(221,127,211);
    width: 100%;
    height: 100%;
    position: absolute;


}